:root {
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);

  --fw-normal: 400;
  --fw-bold: 700;

  --fs-paragraph: 0.9375rem;
  --fs-heading: 1.35rem;

  --ff-outfit: "Outfit", sans-serif;
  --animate-slide-in: slide-in 0.6s ease-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 5rem 2rem;
  background-color: var(--color-slate-300);

  font-family: var(--ff-outfit);
  font-size: var(--fs-paragraph);
  font-weight: var(--fw-normal);
  color: var(--color-slate-500);
}

.card {
  max-width: 20rem;
  padding: 1rem;
  border-radius: 1.25rem;
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  animation: var(--animate-slide-in);
}

.qr-code {
  width: 100%;
  border-radius: 0.625rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.25rem;
  text-align: center;
}

.heading {
  color: var(--color-slate-900);
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

.paragraph {
  margin-bottom: 1.25rem;
  line-height: 1.4;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .card-container {
    animation: none;
  }
}
